<template>
  <div>
    <h2>Requests</h2>
    <p>You can help someone and earn more BLIIVES</p>

    <requests-card></requests-card>
    <requests-card></requests-card>
    <requests-card></requests-card>
    <requests-card></requests-card>
  </div>
</template>

<script>
import RequestsCard from "@/components/requests/RequestsCard.vue";
export default {
  components: {
    RequestsCard
  }
};
</script>

<style scoped>
</style>
