<template>
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img src="@/assets/images/card_image_01.png">
              <h6 class="card-title">Card title</h6>
              <p
                class="card-text"
              >With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img src="@/assets/images/card_image_02.png" class="card-img-left">
              <h6 class="card-title">Card title</h6>
              <p
                class="card-text"
              >With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img src="@/assets/images/card_image_03.png" class="card-img-left">
              <h6 class="card-title">Card title</h6>
              <p
                class="card-text"
              >With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img src="@/assets/images/card_image_04.png" class="card-img-left">
              <h6 class="card-title">Card title</h6>
              <p
                class="card-text"
              >With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped>
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card {
  margin: 5px;
}
</style>