<template>
  <div class="container">
    <div class="footer">
      <div class="principal-text">
        We
        <b>bliive</b> in the power of people sharing time.
      </div>
      <hr>
      <div class="row">
        <div>
          <div class="bliive-text">
            <p>©Bliive 2019</p>
          </div>
          <!-- <div class="terms-text">
          <p>Terms</p>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped>
@media screen and (max-width: 600px) {
  .footer {
    visibility: hidden;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
  height: 60px;
  line-height: 60px;
}
.principal-text {
  text-align: center;
}
.bliive-text {
  text-align: left;
}
.terms-text {
  text-align: right;
}
</style>
