<template>
  <div>
    <section>
      <nav-bar></nav-bar>
      <main class="container content">
        <slot name="content"></slot>
      </main>
    </section>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar.vue";
import AppFooter from "@/components/AppFooter.vue";

export default {
  components: {
    NavBar,
    AppFooter
  }
};
</script>

<style>
main {
  margin-top: 80px;
}
</style>