<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div id="logo" class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="#">
          <img src="@/assets/images/logos/bliive_logo.png" alt>
        </a>
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group mb-12">
            <div class="inner-addon right-addon">
              <i id="search-icon" class="fas fa-search"></i>
              <input
                type="text"
                class="form-control"
                placeholder="What are you interested in ?"
                aria-label="whatsin"
                aria-describedby="basic-addon2"
              >
            </div>
          </div>
        </form>
      </div>
      <div id="nav-links" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul id="nav-list" class="nav ml-auto">
          <li class="nav-item">
            <a id="home-item" class="nav-link" href="#">
              <i>
                <img class="img-link" src="@/assets/images/icons/icon_home.png" alt>
              </i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a id="add-item" class="nav-link" href="#">
              <i>
                <img class="img-link" src="@/assets/images/icons/icon_add.png" alt>
              </i>
              <div class="w-add-item">Add New Experience</div>
              <div class="m-add-item">Add</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i>
                <img class="img-link" src="@/assets/images/icons/icon_message.png" alt>
              </i>
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i>
                <img class="img-link" src="@/assets/images/icons/icon_trocas.png" alt>
              </i>
              Exchanges
            </a>
          </li>
          <li class="nav-item">
            <div class="profile-img">
              <img class="profile" src="@/assets/images/avatars/avatar.png" alt>
              <p class="profile-text">Profile</p>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<style scoped>
a {
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #272b44;
}

i {
  display: none;
}

#home-item {
  display: none;
}

.menu-icon {
  display: none;
}

a:hover {
  color: #069a92;
}

.img-link:hover {
  color: #069a92;
}
.navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

.nav {
  margin-left: auto;
}

.m-add-item {
  display: none;
}

.w-add-item {
  display: initial;
}

.profile {
  margin-top: 2px;
  margin-left: 5px;
  float: left;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.profile-text {
  display: none;
}

.inner-addon {
  position: relative;
}

.inner-addon #search-icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon #search-icon {
  right: 0px;
}

.right-addon input {
  padding-right: 150px;
}

#search-icon {
  display: flex;
}

@media screen and (max-width: 700px) {
  .navbar {
    overflow: auto;
    background-color: #333;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: unset;
    width: 100%;
    background-color: white;
  }

  .nav {
    margin-left: unset;
  }

  #nav-list {
    margin-right: auto;
    margin-top: auto;
  }

  i {
    display: flex;
  }

  .img-link {
    margin-left: 25%;
    padding-bottom: 2px;
  }

  .nav-link {
    font-size: 18px;
    padding-right: 20px;
    display: grid;
  }

  .menu-icon {
    display: initial;
  }

  #logo {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    display: flex;
  }

  #home-item {
    display: grid;
  }

  .m-add-item {
    display: initial;
  }

  .w-add-item {
    display: none;
  }

  #nav-links {
    display: flex;
    text-align: center;
    margin-left: 0px;
    background-color: white;
  }

  button.navbar-toggler {
    visibility: hidden;
  }

  .nav > .ml-auto > .mx-auto {
    margin-left: unset;
  }

  .btn-search {
    display: none;
  }

  .profile-img {
    display: grid;
  }

  .profile-text {
    font-size: 18px;
    display: grid;
  }
}
</style>
