<template>
  <div id="app">
    <layout>
      <template slot="content">
        <home></home>
      </template>
    </layout>
  </div>
</template>

<script>
import Layout from "@/components/Layout.vue";
import Home from "@/views/Home.vue";

export default {
  name: "app",
  components: {
    Layout,
    Home
  }
};
</script>

<style>
#app {
  font-family: Maax Rounded;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
</style>
